# ignore reference project folder
clickbait/

# ignore processed csv files
*csv

# ignore jupyter notebook checkpoint
.ipynb_checkpoints

# ignore __pycache__ in scripts folder
scripts/__pycache__

# ignore the docs folder
docs/